@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">More fun walking together </h1>
    <hr>
    <p class="lead">PupBuddy is a free and open platform where our faithful companions can meet up and play with likeminded pups.</p>

    <img class=" img-fluid mx-auto py-4" src="~/images/pawtrail.png">
    <p><a href="#" class="btn btn-outline-success btn-lg">Find your walk buddy &raquo;</a></p>
</div>

<div class="bg-white p-4">
    <div class="text-center" style="
    background-image: url(/images/pets.png);
    height: 120px;background-repeat: no-repeat;
    background-position: center;background-size: cover;">
</div>

    <div class="row mt-5">
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title">"Rescue is my favorite breed" <hr /></h3>
                    <h5 class="text-right"> ~ Wise Dog</h5>
                    <p class="card-text">
                        The biggest reason to adopt instead of buying a dog is there are just so many dogs waiting to be adopted. <br />Every dog bought from a store means another dog that will never find a home.
                    </p>
                    <a href="https://www.dspca.ie/adopt-a-pet/" class="btn btn-outline-success">Rescue Me</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title">Our Partners <hr /> </h3>
                    <h5 class="text-right">  ~ El Dog Grooming</h5>
                    <p class="card-text">
                        A full-service pet spa. <br />
                        A groomed puppy is a happy puppy.<br />
                        Always a gentle and loving touch.<br />  EL Dog Grooming offer 20% OFF for their services, just quote "PupBuddy" when booking.
                    </p>
                    <a href="#" class="btn btn-outline-success">EL Dog Grooming</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title"> Tips on Dog Exercise <hr /> </h3>
                    <p class="card-text">
                        Taking your dog for a walk around the block is a great start, and it might be enough for breeds with lower exercise requirements. Even couch potatoes appreciate variety every once in a while, however, and there are countless opportunities to exercise your dog in your daily life.
                    </p>
                    <a href="#" class="btn btn-outline-success">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
